{% extends 'rest/base.html' %}
{% load i18n %}
{% load static %}
{% load rest_framework %}
{% block content %}
       <div class="row">
                <div class="row" >
                    <div class="col-sm-12" id="rooms"></div>
                </div>
        </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Reservate a room</h4>
                </div>
                <div class="modal-body">
                    <form id="reservationForm">
                        <div id="errors"></div>
                        <p>Start Date: <input type="text" class="form-control date"
                                              id="start_date"></p>
                        <p>End Date: <input type="text" class="form-control date" id="end_date">
                        </p>

                        <input type="submit" value="Save" class="btn">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                    </button>
                </div>
            </div>
        </div>
    </div>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/room_list.js' %}"></script>
{% endblock %}