{% extends 'base.html' %}
{% load bootstrap %}
{% load staticfiles %}
{% load i18n %}

{% block content %}



<div class="container">
    <div class="col-sm-8 text-left">
  <h1>Add Recipe</h1>
        <form action="." method="post">
            {% csrf_token %}
            <div>
                {{ form.as_p }}
            </div>
            <fieldset>
                <legend>Recipe Ingredient</legend>
                {{ address_form.management_form }}
                {{ address_form.non_form_errors }}
                {% for form in ingredient_form %}
                    {{ form.id }}
                    <div class="inline {{ address_form.prefix }}">
                        {{ form.street.errors }}
                        {{ form.street.label_tag }}
                        {{ form.street }}
                    </div>
                {% endfor %}
            </fieldset>
            <fieldset>
                <legend>Recipe instruction</legend>
                {{ telephone_form.management_form }}
                {{ telephone_form.non_form_errors }}
                {% for form in telephone_form %}
                    {{ form.id }}
                    <div class="inline {{ telephone_form.prefix }}">
                        {{ form.nr.errors }}
                        {{ form.nr.label_tag }}
                        {{ form.nr }}
                    </div>
                {% endfor %}
            </fieldset>
            <input type="submit" value="Add recipe" class="submit" />
        </form>
    </div>
</div>
{% endblock %}html>