{% extends 'base.html' %}
{% load bootstrap %}
{% load staticfiles %}
{% load i18n %}

{% block content %}



<div class="container">
    <div class="col-sm-8 text-left">
        <form id="product-form" class="form-horizontal" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
        {%  for form in forms %}
            {{form.media}}
            {{form|bootstrap}}
            {% endfor %}

            <div class="form-group text-right">

                      <button class="btn btn-info" type="submit" value="save" name="save" >Edit Profile</button>
            </div>

        </form>
    </div>
</div>
{% endblock %}html>