{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}
{% load i18n %}
    <link rel="stylesheet" href="{% static 'js/functions.js' %}">

{% block content %}


<div class="container">
    <div class="col-sm-8 text-left">
        <form id="product-form" class="form-horizontal" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}


            {{form.as_p}}

            <div class="form-group text-right">

                {% if reservation_create %}
                      <button class="btn btn-info" type="submit" value="save" name="save" >Make Reservation</button>
                    {% else %}
                    <button class="btn btn-info" type="submit" value="save" name="save" >Create User</button>
                {% endif %}
            </div>
        </form>


    </div>
</div>
{% endblock %}